body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #dee4e9;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.btn {
    background-color: rgb(138, 138, 138);
    color: white;
}


.card {
    border-radius: 25px;
    background-color: white;
}

.card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
}

.tok {
    background-image: linear-gradient(135deg, #2AFADF 10%, #4C83FF 100%);
}